/* General StyleSheet for all browsers supporting CSS. */

/*** HTML tags ***/

/*   html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark  html5doctor.com/html-5-reset-stylesheet/*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

article, aside, figure, footer, header,
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
/* END RESET CSS */


/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased;overflow-y: scroll; }

html, body {height: 100%;}
BODY{font-family:Helvetica, sans-serif;color:#000;background-color:#FFFFFF;font-size:80%;line-height:1.2em;text-align:left;}
A, A:link, A:visited, A:hover, A:active{font-size:1.0em;line-height:1.2em;}
IMG{border-width:0px;display:block;}
P{margin:0px 0px 10px 0px;line-height:1.2em;}

INPUT,SELECT,TEXTAREA{font-family:Helvetica;font-size:1em;}
UL{margin:0 0 10px 0;padding:0 0 0 20px;}
LI{font-size:1em;line-height:1.2em;margin:0 0 5px 0;padding:0;}

H1{font-size:1.2em;line-height:1.2em;margin:0px 0px 10px 0px;}
H2{font-size:1.4em;line-height:1.2em;margin:8px 0px;}
H3{font-size:1em;line-height:1.2em;margin:0px 0px 10px 0px;}
H4{font-size:1em;line-height:1.2em;margin:0px 0px 10px 0px;}

/*** HR ***/
.hr{clear:both;height:1px;background:#999 center;margin:0px;}
.hr hr{display:none;}

/* classes */
.tl{text-align:left;}
.tc{text-align:center;}
.tj{text-align:justify;}
.tr{text-align:right;}
.fr{float:right;}
.fl{float:left;}
.fn{float:none;}
.cl{clear:left;}
.cr{clear:right;}
.cb{clear:both;}
br.cb{height:0;line-height:0;display:block;}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.vat{vertical-align:top}
.vam{vertical-align:middle}
.vab{vertical-align:bottom}
.hdn{display:none;}
.wauto{width:auto;}
.print{display:none;}
.noprint{}
.highlight{color: #0A397F;}
ul.noBullet,
ol.noBullet{
	list-style-type:none;
	padding-left:0;
}

table{width:100%;margin:0 0 10px 0;}
table caption{text-align:left;}
table th,table td{padding:2px 4px;}
table td{border:1px solid #cfcfcf;}

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* prevent iOS devices increasing font size */
/*div, p, a, li, td { -webkit-text-size-adjust:none; }*/

/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.ir {
	font: 0/0 serif;
	text-shadow: none;
	color: transparent;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

@font-face
{
	font-family: dirty_headline;
	src: url('../fonts/dirty_headline.ttf');
}
@font-face
{
	font-family: cancan_debois;
	src: url('../fonts/CanCandB_free.ttf');
}

@font-face 
{
    font-family: 'CronosProBoldCaption';
    src: url('../fonts/cronos_pro_bold_caption-webfont.eot');
    src: url('../fonts/cronos_pro_bold_caption-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cronos_pro_bold_caption-webfont.woff') format('woff'),
         url('../fonts/cronos_pro_bold_caption-webfont.ttf') format('truetype'),
         url('../fonts/cronos_pro_bold_caption-webfont.svg#CronosProBoldCaption') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'CronosProBold';
    src: url('../fonts/cronos_pro_bold-webfont.eot');
    src: url('../fonts/cronos_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cronos_pro_bold-webfont.woff') format('woff'),
         url('../fonts/cronos_pro_bold-webfont.ttf') format('truetype'),
         url('../fonts/cronos_pro_bold-webfont.svg#CronosProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'CronosProLightCaptionItalic';
    src: url('../fonts/cronos_pro_light_caption_italic-webfont.eot');
    src: url('../fonts/cronos_pro_light_caption_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cronos_pro_light_caption_italic-webfont.woff') format('woff'),
         url('../fonts/cronos_pro_light_caption_italic-webfont.ttf') format('truetype'),
         url('../fonts/cronos_pro_light_caption_italic-webfont.svg#CronosProLightCaptionItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CronosProSemiboldItalic';
    src: url('../fonts/cronospro-semiboldit-webfont.eot');
    src: url('../fonts/cronospro-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cronospro-semiboldit-webfont.woff') format('woff'),
         url('../fonts/cronospro-semiboldit-webfont.ttf') format('truetype'),
         url('../fonts/cronospro-semiboldit-webfont.svg#CronosProSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CronosProSemiboldDisplay';
    src: url('../fonts/cronospro-semibolddisp-webfont.eot');
    src: url('../fonts/cronospro-semibolddisp-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cronospro-semibolddisp-webfont.woff') format('woff'),
         url('../fonts/cronospro-semibolddisp-webfont.ttf') format('truetype'),
         url('../fonts/cronospro-semibolddisp-webfont.svg#CronosProSemiboldDisplay') format('svg');
    font-weight: normal;
    font-style: normal;
}

.dirtyHeadline{
	font-family: dirty_headline;
}
.cancanDebois{
	font-family: cancan_debois;
}
.cronosProBold{
	font-family: CronosProBold;
}
.cronosProBoldSemiBold{
	font-family: CronosProSemiboldDisplay;
}
