.ie9 #enterLunchSpot .mapFurniture,
.ie9 #enterLunchSpot #googleMap{
	height:390px;	
}

.ie7 .textrep span,
.ie8 .textrep span,
.ie9 .textrep span{
	display:none !important;
}

.ie7 article#likegate article.content h1.wheredoyoulunch,
.ie8 article#likegate article.content h1.wheredoyoulunch,
.ie9 article#likegate article.content h1.wheredoyoulunch{
	width:405px;
	height:97px;
	background:url('../img/likegate/where2.png') left top no-repeat;
	left:39px;
	top:65px;
}

.ie7 article#home .panel .left h1,
.ie8 article#home .panel .left h1,
.ie9 article#home .panel .left h1{
	background:url('../img/home/where.png') left top no-repeat;
	width:446px;
	height:108px;
	margin-bottom:10px;
}
/*
.ie7 article#home .panel .left p.home1,
.ie8 article#home .panel .left p.home1,
.ie9 article#home .panel .left p.home1{
	background:url('../img/home/body.png') left top no-repeat;
	width:490px;
	height:99px;
}
.ie7 article#home .panel .left p.home2,
.ie8 article#home .panel .left p.home2,
.ie9 article#home .panel .left p.home2{
	background:url('../img/home/body2.png') left top no-repeat;
	width:469px;
	height:47px;
}
*/
.ie7 #home .pin2 img,
.ie8 #home .pin2 img,
.ie9 #home .pin2 img{
	right:-55px;
}
.ie7 #home .pin2 h2,
.ie8 #home .pin2 h2,
.ie9 #home .pin2 h2{
	background:url('../img/home/pin2.png') left top no-repeat;
	width:198px;
	height:15px;
	margin:5px 0 8px 0;
}
.ie7 #home .pin2 h2{
	margin-top:22px;
}
.ie7 .intro h1.tellus,
.ie8 .intro h1.tellus,
.ie9 .intro h1.tellus{
	background:url('../img/map/wheresyour.png') left top no-repeat;
	width:394px;
	height:94px;
	margin-bottom:10px;
}
.ie7 .intro h2.localpark,
.ie8 .intro h2.localpark,
.ie9 .intro h2.localpark{
	background:url('../img/map/localpark.png') left top no-repeat;
	width:523px;
	height:17px;
	color:#45ab58;
}
.ie7 .conditional h2.hereswhat,
.ie8 .conditional h2.hereswhat,
.ie9 .conditional h2.hereswhat{
	color:#3b69af;
	background:url('../img/map/hereswhat.png') left top no-repeat;
	width:132px;
	height:12px;
	margin:20px 0 10px 0;
}

.ie7 .intro h1.fillinform,
.ie8 .intro h1.fillinform,
.ie9 .intro h1.fillinform{
	background:url('../img/map/fillintheform.png') left top no-repeat;
	width:402px;
	height:95px;
	margin-bottom:10px;
}

.ie7 .intro h1.thanks,
.ie8 .intro h1.thanks,
.ie9 .intro h1.thanks{
	background:url('../img/map/thankyou.png') left top no-repeat;
	width:450px;
	height:77px;
	margin-bottom:10px;
}

.ie7 h2.myfavourite,
.ie8 h2.myfavourite,
.ie9 h2.myfavourite{
	background:url('../img/overlay/myfavouritespot.png') left top no-repeat;
	width:218px;
	height:16px;
}

/*
#enterLunchSpot .step2,
#enterLunchSpot .step3,
#enterLunchSpot .step4,
#enterLunchSpot .step5{
	margin-left:-271px;
	border-radius:5px;
	background-color:#00f;
	width:499px;
	height:374px;
	padding:21px 22px;
	background-image: linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -o-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	bottom:90px;
}
*/
.ie7 #enterLunchSpot .step2,
.ie7 #enterLunchSpot .step3,
.ie7 #enterLunchSpot .step4,
.ie7 #enterLunchSpot .step5,
.ie8 #enterLunchSpot .step2,
.ie8 #enterLunchSpot .step3,
.ie8 #enterLunchSpot .step4,
.ie8 #enterLunchSpot .step5{
	background:url('../img/overlay/overlaybg.png') left top no-repeat;
}
.ie7 #enterLunchSpot .step2,
.ie8 #enterLunchSpot .step2{
	height:385px;
}
.ie7 #enterLunchSpot .step3,
.ie8 #enterLunchSpot .step3{
	background:url('../img/overlay/overlaybg2.png') left top no-repeat;
	height:333px;
}
.ie7 #enterLunchSpot .step4,
.ie8 #enterLunchSpot .step4{
	background:url('../img/overlay/overlaybg2.png') left top no-repeat;
	height:253px;
}

/* prizes overlay */
.ie7 h1.prizesBanner,
.ie8 h1.prizesBanner,
.ie9 h1.prizesBanner{
	background:url('../img/prizes/prizes.png') left top no-repeat;
	width:61px;
	height:17px;
}
.ie7 h2.lunchPrizes,
.ie8 h2.lunchPrizes,
.ie9 h2.lunchPrizes{
	background:url('../img/prizes/lunchspots.png') left top no-repeat;
	width:433px;
	height:43px;
	margin:15px auto 15px auto;
}
/*
.ie7 p.prizesIntro,
.ie8 p.prizesIntro,
.ie9 p.prizesIntro{
	background:url('../img/prizes/checkout.png') left top no-repeat;
	width:413px;
	height:53px;
}
*/
.ie7 p.prizesIntro.textRep span,
.ie8 p.prizesIntro.textRep span,
.ie9 p.prizesIntro.textRep span{
	display:block;
}
/* lunch spots popup map */
.ie7 h1.lunchSpotsBanner,
.ie8 h1.lunchSpotsBanner,
.ie9 h1.lunchSpotsBanner{
	background:url('../img/prizes/lunchspotsbanner.png') left top no-repeat;
	width:111px;
	height:17px;
}

.ie7 h1.termsBanner,
.ie8 h1.termsBanner,
.ie9 h1.termsBanner{
	background:url('../img/prizes/terms.png') left top no-repeat;
	width:172px;
	height:15px;
}

/* top 25 */

.ie7 #top25a h1.topTitle,
.ie8 #top25a h1.topTitle,
.ie9 #top25a h1.topTitle{
	background:url('../img/top25/top25a.png') left top no-repeat;
	width:369px;
	height:148px;
	margin-bottom:10px;
}

.ie7 #top25b h1.topTwentyFive,
.ie8 #top25b h1.topTwentyFive,
.ie9 #top25b h1.topTwentyFive{
	background:url('../img/top25/top25b.png') left top no-repeat;
	width:260px;
	height:120px;
	margin:0 auto  18px auto;
}
.ie7 #top25b .shortlist,
.ie8 #top25b .shortlist,
.ie9 #top25b .shortlist{
	background:url('../img/top25/take_a_look.png') left top no-repeat;
	width:346px;
	height:29px;
}
.ie7 #lunchSpotsInfoOverlay header h1,
.ie8 #lunchSpotsInfoOverlay header h1,
.ie9 #lunchSpotsInfoOverlay header h1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.ie7 #top10a h1.topTitle,
.ie8 #top10a h1.topTitle,
.ie9 #top10a h1.topTitle{
	background:url('../img/top10/top10a.png') left top no-repeat;
	width:370px;
	height:153px;
	margin:0px 0px 15px 0px;
	text-align:left;
}
.ie7 #top10a h1.topTitle{
	margin-left:-140px;
}
.ie7 #top10b h1.topTen,
.ie8 #top10b h1.topTen,
.ie9 #top10b h1.topTen{
	background:url('../img/top10/top10b.png') left top no-repeat;
	width:250px;
	height:122px;
	margin:10px auto  13px auto;
}
.ie7 #top10b .shortlist,
.ie8 #top10b .shortlist,
.ie9 #top10b .shortlist{
	background:url('../img/top10/as_voted_by_you.png') left top no-repeat;
	width:170px;
	height:20px;
	margin:0px auto 0px auto;
}
.ie7 #toptenSpotsInfoOverlay h1,
.ie8 #toptenSpotsInfoOverlay h1,
.ie9 #toptenSpotsInfoOverlay h1{
	background:url('../img/top10/top10c.png') left top no-repeat;
	width:245px;
	height:24px;
}

.ie7 .topTenOverlay .dynamicPinTitle,
.ie8 .topTenOverlay .dynamicPinTitle,
.ie9 .topTenOverlay .dynamicPinTitle,
.ie7 .mapSwitch li a,
.ie8 .mapSwitch li a,
.ie9 .mapSwitch li a{
	font-family:Arial, Helvetica, sans-serif;
	outline:none;
	font-weight:bold;
}
.ie9 .infoBox .jspPane{
	width:150px;
}