/* print */
.headerMisc,
.languageSelect,
.mainNav,
.breadcrumb,
#subNav,
#aside,
footer,
.panelSelect,
.printButton,
html.js .printButton,
p.test{
	display:none !important;
}
header{
	padding-bottom:0;
}
input.azSearch{
	display:none;
}
.header .logo img{
	display:block;
	width:auto;
	float:none;
}
#content{
	width:100%;
}
.expander h2{
	background-image:none;
	border-bottom:1px solid #000;
	padding-left:0px;
}

.expander .expandedText,
html.js .expander .expandedText{
	display: block !important;
	height:auto;
	padding:10px 0 0 0;
}
.largeLinks a{
	color:#000;
}

#s1, #s2, #s3, #s4, #s5, #s6, #s7, #s8, #s9 {
  display: block !important;
  overflow:visible;
}
