/* page */
body{
	width:100%;
	height:100%;
	text-align:center;
	margin:0;
	padding:0;
	color:#000;
	background-color:#fff;
	position:relative;
}

ul.menu{
	margin:0px;padding:0;list-style-type:none;
}
/*
::-moz-selection{ background:#06F; color:#fff; text-shadow: none; }
::selection { background:#06F; color:#fff; text-shadow: none; }
*/
a:link,
a:visited{color:#000;text-decoration:none;}
a:hover{color:#000;text-decoration:underline;}
.canvas{
	width:787px;
	margin:0 auto;
}

footer{
	display:block;
	width:100%;
	text-align:left;
}
footer a{
	margin-left:15px;
	font-size:90%;
	display:block;
}
footer a:link,
footer a:visited{
	text-decoration:underline;
	color:#1e478e;
}
footer a:hover{
	text-decoration:none;
}

#likegate .content h1.wheredoyoulunch,
#home .panel .left h1,
h1.tellus,
h1.fillinform,
h1.thanks,
h1.topTitle,
h1.topTwentyFive,
h1.topTen{
	font-family:cancan_debois;
	font-size:1em;
	font-weight:normal;
	text-transform:uppercase;
	margin:0;
	text-align:left;
}
#likegate .content h1.wheredoyoulunch span,
#home .panel .left h1 span,
h1.tellus span,
h1.fillinform span,
h1.thanks span,
h1.topTitle span,
h1.topTwentyFive span,
h1.topTen span{
	line-height:1.1em;
}
#likegate .content h1.wheredoyoulunch .top,
#home .panel .left h1 .top,
h1.tellus .top,
h1.fillinform .top,
h1.thanks .top,
h1.topTitle .top,
h1.topTwentyFive .top,
h1.topTen .top{
	color:#1653aa;
	background: -webkit-linear-gradient(#0a3495, #2983c5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:270%;
	display:block;
}
#likegate .content h1.wheredoyoulunch .bottom,
#home .panel .left h1 .bottom,
h1.tellus .bottom,
h1.fillinform .bottom,
h1.thanks .bottom,
h1.topTitle .bottom,
h1.topTwentyFive .bottom,
h1.topTen .bottom{
	color:#3ba793;
	background: -webkit-linear-gradient(#3094c5, #41ac4e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:600%;
	display:block;
}

#likegate .content h1.wheredoyoulunch{
	left:39px;
	top:65px;
}
#likegate .content h1.wheredoyoulunch .top,
#home .panel .left h1 .top,
h1.tellus .top,
h1.fillinform .top{
	margin-bottom:-8px;
}
h1.thanks .top{
	margin-bottom:-5px;
}
h1.topTitle .top,
h1.topTwentyFive .top,
h1.topTen .top{
	margin-bottom:-12px;
}
#home .panel .left h1{
	margin:20px 0 -8px 0;
}

h1.tellus{
	margin:20px 0 -12px 0;
}

#likegate,
#home,
#enterLunchSpot{
	position:relative;
	width:787px;
	clear:both;
}
#likegate .content{
	min-height:750px;
	background:url('../img/bg/likegate3.jpg') left top no-repeat #fff;
}
#home article.content{
	min-height:750px;
	background:url('../img/bg/home1.jpg') left top no-repeat #fff;
}
#home{
	/*min-height:770px;*/
	float:left;
}
#enterLunchSpot{
	float:none;
	clear:both;
}
.top article.content{
	min-height:750px;
	background:url('../img/bg/top25.jpg') left top no-repeat #fff;
	position:relative;
}
#top25b article.content{
	min-height:804px;
	background:url('../img/bg/top25_list.jpg') left top no-repeat #fff;
	position:relative;
}
#top10a article.content{
	min-height:750px;
	background:url('../img/bg/top10a.jpg') left top no-repeat #fff;
	position:relative;
}
#top10b article.content{
	min-height:804px;
	background:url('../img/bg/top25_list.jpg') left top no-repeat #fff;
	position:relative;
}

#likegate header,
#likegate article.content h1.wheredoyoulunch,
#likegate .dailyprizes,
#likegate .likeus,
#likegate .pin{
	display:block;
	position:absolute;
	z-index:10;
}
#likegate header{
	width:227px;
	height:249px;
	background:url('../img/likegate/header.png') left top no-repeat;
	right:77px;
	top:0px;
}
#likegate header *{
	display:none;
}


#likegate .dailyprizes{
	width:309px;
	height:320px;
	background:url('../img/likegate/dailyprizes3.png') left top no-repeat;
	left:120px;
	top:195px;
}
#likegate .likeus{
	width:181px;
	height:70px;
	background:url('../img/likegate/likeus.png') left top no-repeat;
	right:88px;
	top:259px;
}
#likegate .dailyprizes span,
#likegate .likeus span{
	display:none;
}
#likegate .pin{
	width:233px;
	height:260px;
	background:url('../img/likegate/pin.png') left top no-repeat;
	right:22px;
	top:430px;
}
#likegate .pin h2,
#likegate .pin h3,
#likegate .pin h4,
#likegate .pin p{
	display:none;
}

#home .panel{
	width:747px;
	background:url('../img/bg/homepanel.png') left bottom no-repeat;
	margin-left:22px;
	min-height:519px;
	padding-top:14px;
}
#home .panel .left{
	float:left;
	width:506px;
	padding-left:44px;
}
#home .panel .left p.home1,
#home .panel .left p.home2,
#home .panel .left p.home3{
	text-align:left;
	font-size:120%;
	padding-right:20px;
	font-family: CronosProBold;
}
#home .panel .left p.home1{
	color:#46ab52;
}
#home .panel .left p.home2{
	color:#4aa4b9;
}
#home .panel .left p.home3{
	color:#3b6ab0;
}
#home .panel .left p.home3 .col4{
	color:#0c3678;
}

#home .panel .logo{
	float:left;
	background:url('../img/home/logo.png') left top no-repeat;
	width:147px;
	height:188px;
}
#home .panel .logo *{
	display:none;
}
#home ul.controls{
	float:left;
	width:700px;
	list-style-type:none;
	padding-left:0px;
	margin:0px 0 0 60px;
}
#home ul.controls li{
	float:left;
	margin:0;padding:0;
}
#home ul.controls li a{
	display:block;
}
#home ul.controls li a span{
	display:none;
}
#home ul.controls li.enter{
	width:220px;
	background:url('../img/home/divider.gif') right 24px no-repeat;
}
#home ul.controls li.enter a{
	background:url('../img/home/enter.png') left top no-repeat;
	width:211px;
	height:182px;
}
#home ul.controls li.viewPrizes{
	width:210px;
	background:url('../img/home/divider.gif') right 24px no-repeat;
}
#home ul.controls li.viewPrizes a{
	background:url('../img/home/viewprizes.png') left top no-repeat;
	width:194px;
	height:169px;
	margin-top:27px;
	margin-left:10px;
}
#home ul.controls li.viewLunchSpots{
	width:160px;
}
#home ul.controls li.viewLunchSpots a{
	background:url('../img/home/viewlunches.png') left top no-repeat;
	width:138px;
	height:135px;
	margin-left:15px;
	margin-top:27px;
}
#home .pin2{
	background:url('../img/bg/pin2_panel.png') left top no-repeat;
	position:relative;
	padding:16px 20px;
	width:216px;
	margin-left:245px;
	margin-top:15px;
	min-height:113px;
	text-align:left;
}
.ie7 #home .pin2{
	float:left;
}
#home .pin2 h2{
	color:#fff;
	font-weight:normal;
	margin:0 0 8px 0;
}
#home .pin2 p{
	color:#fff;
	font-style:italic;
	font-size:95%;
	margin-right:50px;
	line-height:1.3em;
}
#home .pin2 img{
	position:absolute;
	right:-50px;
	top:10px;
	z-index:10;
}
#home footer a{
	float:left;
}
#home footer .places{
	float:right;
	width:305px;
	list-style-type:none;
	padding-left:0px;
	margin:0px 15px 0 0px;
}
#home footer .places li{
	float:left;
	margin:0;padding:0;
}

#enterLunchSpot .content{
	width:787px;
	position:relative;
	height:770px;
}
#enterLunchSpot .panelOuter{
	position:absolute;
	left:0px;
	top:0px;
	z-index:10;
	width:787px;
	background:url('../img/map/panel_gradient.png') left bottom repeat-x;
	padding-bottom:5px;
}
#enterLunchSpot .panelOuter_tl,
#enterLunchSpot .panelOuter_t,
#enterLunchSpot .panelOuter_tr{
	position:absolute;
	left:0px;
	top:0px;
	z-index:11;
	width:767px;
	height:400px;
}
#enterLunchSpot .panelOuter_tl{
	width:10px;
	background:url('../img/map/map_tl.png') left top repeat-x;
}
#enterLunchSpot .panelOuter_t{
	left:10px;
	height:10px;
	background:url('../img/map/map_t.png') left top repeat-x;
}
#enterLunchSpot .panelOuter_tr{
	left:777px;
	width:10px;
	background:url('../img/map/map_tr.png') left top repeat-x;
}
#enterLunchSpot .panel{
	width:787px;
	background:url('../img/bg/homepanel.png') 22px bottom no-repeat;
	padding-top:14px;
	padding-bottom:30px;
	margin:0;
	text-align:left;
}

#enterLunchSpot .panel .always{
	width:100%;
	float:left;
}
#enterLunchSpot .panel .always .logo{
	background:url('../img/map/logo.png') left top no-repeat;
	width:121px;
	height:156px;
	display:block;
	float:left;
	margin:0 30px 20px 50px;
}
#enterLunchSpot .panel .always .logo *{
	display:none;
}
#enterLunchSpot .panel .always .intro{
	width:500px;
	float:left;
}
#enterLunchSpot .panel .short .intro .localpark,
#enterLunchSpot .panel .short .intro .nominate{
	display:none;
}
#enterLunchSpot .panel .conditional{
	width:100%;
	float:left;
	position:relative;
}
#enterLunchSpot .panel .conditional .pin3{
	position:absolute;
	left:70px;
	top:-20px;
}
#enterLunchSpot .panel .conditional .googleSearch{
	width:500px;
	margin-left:201px
}
#enterLunchSpot .panel .always p{
	margin:0;
}

h1.tellus,
h1.fillinform,
h1.thanks{
	margin:20px 0 -12px 0;
	text-align:left;
}
h1.fillinform .top{
	font-size:310%;
}
h1.fillinform .bottom{
	font-size:480%;
}
h1.thanks .top{
	font-size:240%;
}
h1.thanks .bottom{
	font-size:320%;
}

.phase0{
	margin-bottom:10px;
}
.phase1,
.phase2,
.phase3,
.phase4{
	margin-bottom:0px;
}

.phase0 h1.tellus,
.phase0 .intro h2.localpark,
.phase0 .intro p.nominate{
	display:block;
}
.phase0 h1.fillinform,
.phase0 h1.thanks{
	display:none;
}
.phase1 h1.tellus{
	display:block;
}
.phase1 .intro h2.localpark,
.phase1 .intro p.nominate,
.phase1 h1.fillinform,
.phase1 h1.thanks{
	display:none;
}
.phase2 h1.tellus{
	display:block;
}
.phase2 .intro h2.localpark,
.phase2 .intro p.nominate,
.phase2 h1.fillinform,
.phase2 h1.thanks{
	display:none;
}
.phase3 h1.fillinform{
	display:block;
}
.phase3 h1.tellus,
.phase3 .intro h2.localpark,
.phase3 .intro p.nominate,
.phase3 h1.thanks{
	display:none;
}
.phase4 h1.thanks{
	display:block;
}
.phase4 h1.tellus,
.phase4 .intro h2.localpark,
.phase4 .intro p.nominate,
.phase4 h1.fillinform{
	display:none;
}

#enterLunchSpot .intro h2.localpark{
	color:#45ab58;
	font-family:dirty_headline;
	font-weight:normal;
	margin:0 0 5px 0;
	font-size:150%;
	text-transform:uppercase;
}
#enterLunchSpot .conditional h2.hereswhat{
	color:#45ab58;
	font-family:dirty_headline;
	font-weight:normal;
	margin:0px 0 5px 0;
}
#enterLunchSpot .intro p.nominate{
	font-family: CronosProBold;
	font-size:110%;
}
#enterLunchSpot .intro p.nominate .col1{
	color:#3b99c0;
}
#enterLunchSpot .intro p.nominate .col2{
	color:#3b6cb1;
}
#enterLunchSpot .intro p.nominate .col3{
	color:#0c3678;
}
#enterLunchSpot .conditional ul{
	list-style-type:none;
	padding-left:0px;
	margin-bottom:15px;
	font-family: CronosProSemiboldItalic;
	font-size:110%;
}
#enterLunchSpot .conditional ul li{
	color:#3b69af;
	line-height:1em;
	background:url('../img/map/bullet.gif') left 3px no-repeat;
	padding-left:11px;
}
#enterLunchSpot .conditional label{
	display:none;
}
#mapSearch{
	float:left;
}
#enterLunchSpot .conditional #gSearch{
	color:#2b4458;
	height:24px;
	width:312px;
	border:0;
	background:url('../img/map/gsearch.gif') left top no-repeat;
	padding:0 10px;
	margin:0 16px 0 0;
	float:left;
	font-family:CronosProSemiboldDisplay;
	font-size:110%;
}
.ie7 #enterLunchSpot .conditional #gSearch,
.ie8 #enterLunchSpot .conditional #gSearch{
	line-height:1.7em;
}
#enterLunchSpot .conditional #gSearchGo{
	margin:0 0 0 0;
	float:left;
}

#enterLunchSpot .mapFurniture{
	/* position:relative; */
	position:absolute;
	left:0px;
	bottom:0px;
}
#enterLunchSpot .mapFurniture .left,
#enterLunchSpot .mapFurniture .bottom,
#enterLunchSpot .mapFurniture .right,
#enterLunchSpot #googleMap{
	position:absolute;
}
#enterLunchSpot .mapFurniture .left,
#enterLunchSpot .mapFurniture .bottom,
#enterLunchSpot .mapFurniture .right{
	z-index:10;
}
#enterLunchSpot .mapFurniture .left,
#enterLunchSpot .mapFurniture .right{
	width:10px;
	height:350px;
	bottom:0px;
}
#enterLunchSpot .mapFurniture .left{
	background:url('../img/map/mapright.png')  left bottom no-repeat;
	left:0px;
}
#enterLunchSpot .mapFurniture .bottom{
	background:url('../img/map/mapbottom.png') left bottom no-repeat;
	bottom:0px;
	left:10px;
	width:767px;
	height:10px;
}
#enterLunchSpot .mapFurniture .right{
	background:url('../img/map/mapleft.png') right bottom no-repeat;
	right:0px;
}
#enterLunchSpot .mapFurniture,
#enterLunchSpot #googleMap{
	width:787px;
	height:500px;	
	height:350px;	
	height:400px;	
	z-index:0;
}
#enterLunchSpot #googleMap{
	left:0px;
	top:0px;
}

/* map overlay/infopanels */
.stepOverlay{
	/*
	*/
	position:absolute;
	left:50%;
	bottom:20px;
	z-index:10;
	text-align:left;
}
.stepOverlay .button{
	background-image:url('../img/overlay/button.png');
	background-position:left top;
	background-repeat:no-repeat;
	width:98px;
	height:22px;
	display:block;
	text-align:center;
	text-transform:uppercase;
	font-family:CronosProSemiboldItalic;
	font-size:130%;
	padding-top:4px;
}
.stepOverlay .button:link,
.stepOverlay .button:visited{
	color:#fff;
	text-decoration:none;
}
.stepOverlay .button:hover{
}
.stepOverlay .buttonLarge{
	background-image:url('../img/overlay/submit3.png');
	width:155px;
	height:42px;
	font-size:1.3em;
	padding-top:27px;
}

/* confirm / cancel step */
#enterLunchSpot .step1{
	/*
	background:url('../img/overlay/step1bg.png') left top no-repeat;
	width:234px;
	height:175px;
	padding-left:55px;
	padding-right:22px;
	padding-top:27px;
	margin-left:-117px;
	*/
	background:url('../img/overlay/step1bg2.png') left top no-repeat;
	width:241px;
	height:89px;
	margin-left:-50px;
	padding:20px;
	bottom:385px;
}
#enterLunchSpot .step1 .myfavourite,
#enterLunchSpot .step1 p{
	color:#fff;
}
#enterLunchSpot .step1 .myfavourite span{
	display:inline;
}
#enterLunchSpot .step1 .myfavourite{
	font-weight:normal;
	margin:0 0 10px 0;
	font-size:1.6em;
	text-transform:uppercase;
}
#enterLunchSpot .step1 p{
	font-size:90%;;
}
#enterLunchSpot .step1 .cancel{
	background-position:left -26px;
	float:left;
}
#enterLunchSpot .step1 .confirm{
	float:right;
}

/* my favourite lunch spot form */
#enterLunchSpot .step2,
#enterLunchSpot .step3,
#enterLunchSpot .step5{
	margin-left:-271px;
	border-radius:5px;
	background-color:#215298;
	width:499px;
	height:374px;
	padding:21px 22px;
	background-image: linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -o-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	bottom:90px;
}
#enterLunchSpot .step2{
	height:400px;
}
#enterLunchSpot .step3{
	height:350px;
}
#enterLunchSpot div.terms{
	width:747px;
	height:500px;
	padding:10px;
	background-color:#fff;
	background-image:none;
}
#enterLunchSpot div.terms .tandc{
	font-family:dirty_headline;
	font-weight:normal;
	margin:0 0 10px 0;
	font-size:1.6em;
	text-transform:uppercase;
}
#enterLunchSpot div.terms .tandc span{
	display:inline;
}
#enterLunchSpot .terms .window{
	width:747px;
	height:460px;
	overflow:auto;
}
#enterLunchSpot .step2 img.pin,
#enterLunchSpot .step3 img.pin{
	position:absolute;
	bottom:-75px;
	left:20%;
	display:none;
}
#enterLunchSpot .step2 .myfavourite,
#enterLunchSpot .step3 .myfavourite,
#enterLunchSpot .step2 label{
	color:#fff;
}
#enterLunchSpot .step2 .myfavourite span,
#enterLunchSpot .step3 .myfavourite span{
	display:inline;
}
#enterLunchSpot .step2 .myfavourite,
#enterLunchSpot .step3 .myfavourite{
	font-family:dirty_headline;
	font-weight:normal;
	margin:0 0 10px 0;
	font-size:1.6em;
	text-transform:uppercase;
}
#enterLunchSpot .step2 .myfavourite{
	float:left;
}
#enterLunchSpot .step2 .mandatoryNote{
	float:right;
}
#enterLunchSpot .step2 .mandatoryNote span{
	color:#81d9fe;
}
#enterLunchSpot .step2 .leftCol{
	float:left;
	width:318px;
}
#enterLunchSpot .step2 .leftCol label{
	display:block;
	font-size:0.9em;
	font-style:italic;
	margin-bottom:4px;
}
#enterLunchSpot .step2 .leftCol input,
#enterLunchSpot .step2 textarea{
	color:#000;
	border:0;
	width:303px;
	display:block;
	margin:0;
	margin-bottom:4px;
}
#enterLunchSpot .step2 .leftCol input#name,
#enterLunchSpot .step2 textarea{
	width:283px;
	border:0;
	color:#2b4458;
	background-position:0px 0px;
	background-repeat:no-repeat;
	background-color:transparent;
}
#enterLunchSpot .step2 .leftCol  input#name{
	height:26px;
	background-image:url('../img/overlay/step2_field1_name.png');
	padding:0 10px;
}

#enterLunchSpot .step2  textarea{
	height:98px;
	padding:5px 10px;
	background-image:url('../img/overlay/step2_field2_description.png');
}
#enterLunchSpot .step2 .error,
#enterLunchSpot .step2 .error label{
	color:#FF3E3E;
}
#enterLunchSpot .step2 .leftCol .error input#name{
	background-position:0px -26px;
}
#enterLunchSpot .step2 .error textarea{
	background-position:0px -108px;
}

#enterLunchSpot .step2 .view{
	margin-top:19px;
	float:left;
}
.uploadWidget{
	width:100%;
	margin-bottom:4px;
	float:left;
}
.uploadWidget .falseLabel{
	color:#fff;
	font-size:0.9em;
	font-style:italic;
	margin-bottom:4px;
}
.uploadWidget .imageField{
	position:relative;
	height:24px;
	float:left;
}

.uploadWidget .imageField .imageBox{
}
.uploadWidget .imageField .imageBox .leftEnd{
	width:5px;
	height:24px;
	background:url('../img/overlay/upload_field.png') left top no-repeat transparent;
	float:left;
}
.uploadWidget .imageField #imageFile{
	float:left;
	width:auto;
	min-width:172px;
	height:20px;
	padding:4px 5px 0 0px;
	font-style:italic;
	background:url('../img/overlay/upload_field.png') right top no-repeat transparent;
	max-width:340px;
	overflow:hidden;
	line-height:150%;
}
.uploadWidget .imageField #imageProgress{
	position:absolute;
	left:0px;
	top:0px;
	width:182px;
	width:0px;
	height:24px;
	z-index:1;
	background:url('../img/overlay/upload_field_progress.png') left top no-repeat transparent;
}
.uploadWidget .uploadButton{
	margin:1px 0 0 6px;
	float:left;
	text-align:center;
	text-transform:uppercase;
	font-family:CronosProSemiboldItalic;
	font-size:110%;
	color:#fff;	
	width:94px;
	height:19px;
	padding-top:3px;
	border-radius:4px;
	background-color:#3b96c3;
}
.uploadWidget.error  .uploadButton{
	background-color:#f00;
}

.ie7 .uploadWidget .uploadButton{
	width:94px;
	height:19px;
	padding-top:3px;
	background-image:url('../img/overlay/upload_button.png');
	background-position:left top;
	background-repeat:no-repeat;
	background-color:transparent;
}
.uploadWidget .uploadButton:link,
.uploadWidget .uploadButton:visited,
.uploadWidget .uploadButton:hover{
	text-decoration:none;
}
.uploadWidget.selectState #uploadFile,
.uploadWidget.uploadState #selectFile,
.uploadWidget.selectState #imageProgress{
	display:none;
}
.uploadWidget.selectState #selectFile,
.uploadWidget.uploadState #uploadFile,
.uploadWidget.uploadState #imageProgress{
	display:block;
}
.uploadWidget.endState #selectFile,
.uploadWidget.endState #uploadFile,
.uploadWidget.endState #imageProgress{
	display:none;
}
.uploadWidget.selectState .imageBox{
	opacity:0.5;
}
.uploadWidget.uploadState .imageBox{
	opacity:1;
}
#enterLunchSpot .step2 fieldset{
	float:left;
	width:100%;
}
#enterLunchSpot .step2 fieldset legend{
	color:#fff;
	margin-bottom:5px;
	display:block;
	font-size:100%;
	line-height:1.2em;
	width:100%;
}
#enterLunchSpot .step2 fieldset .row{
	float:left;
	width:100%;
	margin:0 0 3px 0;
}
#enterLunchSpot .step2 fieldset input,
#enterLunchSpot .step2 fieldset label{
	float:left;
}
#enterLunchSpot .step2 fieldset label{
	font-size:90%;
	width:130px;
	line-height:1.8em;
	padding-left:4px;
}
#enterLunchSpot .step2 .submit{
	position:absolute;
	right:0px;
	bottom:0px;
}

/* prize draw entry form */
#enterLunchSpot .step3 .leftCol{
	float:left;
	width:350px;
	height:350px;
}
#enterLunchSpot .step3 .rightCol{
	float:right;
	width:115px;
	height:339px;
	position:relative;
}
.mandatoryNote{
	color:#fff;
	font-style:italic;
	text-align:right;
}
#enterLunchSpot .step3 .leftCol p{
	color:#fff;
	font-style:italic;
	margin:0 0 5px 0;
}
#enterLunchSpot .step3 .leftCol p.errorInstructions{
	color:#ff3e3e;
}
.errorPanel{
	height:20px;
	display:block;
}
.errorPanel.valid p.errorInstructions{
	display:none;
}
.step3 .field{
	float:left;
	width:100%;
	margin:0 0 7px 0;
}
.step3 .field label{
	float:left;
	width:100px;
	text-align:right;
	margin-right:5px;
	color:#81d9fe;
	color:#fff;
	font-style:italic;
	line-height:1.6em;
	text-transform:uppercase;
}
.step3 .field input{
	float:left;
	color:#2b4458;
	height:21px;
	border:0;
	padding:0 10px;
}
.step3 .field.normal input{
	width:159px;
	background:url('../img/overlay/field_normal.png') left top no-repeat transparent;
}
.step3 .field.wide input{
	width:222px;
	background:url('../img/overlay/field_wide.png') left top no-repeat transparent;
}
.step3 .field.checkbox{
	margin-left:100px;
	margin-bottom:2px;
}
.firstCheckbox{
	margin-top:-10px;
}
.step3 .field.checkbox input{
	height:auto;
}
.step3 .field.checkbox label{
	font-size:80%;
	color:#fff;
	width:218px;
	text-align:left;
	margin-left:5px;
	line-height:1.8em;
	font-style:normal;
	text-transform:none;
}
.step3 .field.checkbox label a:link,
.step3 .field.checkbox label a:visited{
	color:#fff;
	background-color:transparent;
	text-decoration:underline;
}
.toolTip{
	padding-top:2px;
	position:relative;
	float:left;
	margin-left:5px;
}
.toolTip .popup{
	display:none;
}
#enterLunchSpot .step3 .toolTip:hover .popup{
	width:140px;
	display:block;
	position:absolute;
	left:25px;
	top:0px;
	padding:5px;
	background-color:#fff;
	border-radius:5px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	color:#000;
	z-index:100;
}

#enterLunchSpot .step3 .viewPrizes{
	background:url('../img/overlay/viewprizes.png') left top no-repeat;
	width:115px;
	height:109px;
	display:block;
	margin-top:24px;
}
#enterLunchSpot .step3 .viewPrizes span{
	display:none;
}
#enterLunchSpot .step3 .mandatoryNote span{
	color:#81d9fe;
}
#enterLunchSpot .step3 .enter{
	position:absolute;
	left:-21px;
	bottom:-18px;
}
.step3 .field.error label{
	/* color:#f00; */
}
.step3 .field.normal.error input{
	width:159px;
	background:url('../img/overlay/field_normal.png') left -21px no-repeat transparent;
}
.step3 .field.wide.error input{
	width:222px;
	background:url('../img/overlay/field_wide.png') left -21px no-repeat transparent;
}

/* thanks panel */
#enterLunchSpot .step4{
	margin-left:-271px;
	bottom:90px;
	width:543px;
	height:auto;
	background-color:#fff;
	border-radius:5px;
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}
#enterLunchSpot .step4 .blue{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-color:#215298;
	width:499px;
	height:290px;
	padding:50px 22px 0  22px;
	background-image: linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -o-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
}
#enterLunchSpot .step4 .white{
	width:543px;
	height:81px;
}
#enterLunchSpot .step4 img.pin{
	position:absolute;
	bottom:-55px;
	left:20%;
	display:none;
}
#enterLunchSpot .step4 p{
	color:#fff;
	text-align:center;
	font-size:120%;
	font-family:CronosProSemiboldDisplay;
}
#enterLunchSpot .step4 p.thanks1{
	margin:0 0 25px 0;
}
#enterLunchSpot .step4 p.thanks2{
	margin:0 0 14px 0;
}
#enterLunchSpot .step4 p a:link,
#enterLunchSpot .step4 p a:visited{
	color:#fff;
	text-decoration:underline;
}
#enterLunchSpot .step4 p a:hover{
	text-decoration:none;
}
#enterLunchSpot .step4 .button.share{
	margin:0 auto;
}
#enterLunchSpot .step4 .homeLink{
	text-align:center;
	width:auto;
	margin:0 auto;
	display:block;
}
#enterLunchSpot .step4 .homeLink:link,
#enterLunchSpot .step4 .homeLink:visited{
	color:#fff;
	text-decoration:underline;
}
#enterLunchSpot .step4 .biglunch{
	float:right;
	margin:14px 30px 0 0;
}


/* top 25 lunch spots page */
.top .panel{
	width:747px;
	background:url('../img/bg/homepanel.png') left bottom no-repeat;
	margin-left:22px;
	min-height:480px;
	padding-top:14px;
	position:relative;
}
.top footer a{
	float:left;
}
.top footer .places{
	float:right;
	width:305px;
	list-style-type:none;
	padding-left:0px;
	margin:0px 15px 0 0px;
}
.top footer .places li{
	float:left;
	margin:0;padding:0;
}
.top .panel .logo{
	float:left;
	background:url('../img/home/logo.png') left top no-repeat;
	width:147px;
	height:188px;
}
.top .panel .logo *{
	display:none;
}
.top .panel .left{
	float:left;
	width:506px;
	padding-left:44px;
}
.top .topTitle{
	margin-top:25px;
}
.top .topTitle .top{
	font-size:650%;
	letter-spacing:0px;
}
.top .topTitle .bottom{
	font-size:560%;
	line-height:100%;
	display:block;
}

.top .panel .left p.intro,
.top .panel .left p.intro2{
	text-align:left;
	font-size:120%;
	padding-right:20px;
	font-family:CronosProBold;
}
.top .panel .left p .col1{
	color:#45ab58;
}
.top .panel .left p .col2{
	color:#3fa396;
}
.top .panel .left p .col3{
	color:#2776b8;
}

.top .shortlistWrapper{
	margin:5px 0 0 49px;
	width:654px;
	width:690px;
	height:547px;
	float:left;
}
.top .shortList{
	list-style-type:none;
	padding-left:0px;
	width:654px;
	margin:0px;
}
.top .shortList li{
	width:218px;
	height:226px;
	float:left;
	padding:0;
	cursor:pointer;
}
.top .pictureFrameWrapper{
	position:relative;
	width:192px;
	height:162px;
	display:block;
	margin:0;
}
.ie7 .top .pictureFrameWrapper{
	left:-13px;
}
.ie7 .top .pictureFrameWrapper img{
	display:block;
}
.top .pictureFrameWrapper .upload,
.top .pictureFrameWrapper .frame{
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
}
.top .pictureFrameWrapper .upload{
	left:5px;
	top:15px;
	width:187px;
	height:146px;
}
.top .pictureFrameWrapper .frame{
	width:192px;
	height:162px;
	z-index:2;
}
.top .captionBlock{
	background:url('../img/top25/item_tail.gif') left bottom no-repeat #fff;
	width:187px;
	margin:0 0 0 5px;
	float:left;
}
.top .caption{
	height:35px;
	padding:0 5px;
	text-align:left;
	margin:0;
	font-size:90%;
	color:#2a5188;
}
.top .votes{
	padding:6px 5px 0 0;
	float:left;
	width:133px;
	height:17px;
	text-align:right;
	color:#2a5188;
	font-size:80%;
	font-style:italic;
	margin:0;
	text-transform:uppercase;
}
.top .votes span{
	color:#46ac4f;
	font-size:180%;
}
.top a.viewPlace{
	float:left;
	background:url('../img/top25/viewbutton.png') left top no-repeat;
	width:49px;
	height:23px;
	display:block;
}
.top .viewPlace span{
	display:none;
}


#top25a a.votenow{
	position:absolute;
	left:280px;
	top:285px;
	display:block;
	background:url('../img/top25/votenow.png') left top no-repeat;
	width:206px;
	height:178px;
}
#top25a a.votenow span{
	display:none;
}
#top25a img.pin66{
	position:absolute;
	left:464px;
	top:555px;
	z-index:10;
}

#top25b .panel,
#top10b .panel{
	background:url('../img/bg/top25_list.png') left bottom no-repeat;
	position:relative;
	height:783px;
	width:762px;
	margin-left:15px;
}
#top25b .tableclothFold,
#top10b .tableclothFold{
	position:absolute;
	right:0px;
	bottom:7px;
	z-index:100;
}
#top25b header,
#top10b header{
	width:739px;
	height:201px;
	float:left;
	margin-left:9px;
}
#top25b .viewLunchSpots{
	float:right;
	background:url('../img/top25/viewmap.png') left top no-repeat;
	width:138px;
	height:135px;
	margin:15px 26px 0 0;
}
#top25b .viewLunchSpots span{
	display:none;
}
.top a.viewPlace{
	float:right;
}
#top10b .viewLunchSpots{
	float:right;
	background:url('../img/top10/viewmap.png') left top no-repeat;
	width:138px;
	height:135px;
	margin:15px 26px 0 0;
}
#top10b .viewLunchSpots span{
	display:none;
}
#top10b .votes{
	display:none;
}
#top25b header .mid,
#top10b header .mid{
	margin:10px auto 0 auto;
	width:50%;
	text-align:center;
}
#top25b header .topTwentyFive,
#top10b header .topTen{
	text-align:center;
}
#top25b header .topTwentyFive .top,
#top10b header .topTen .top{
	font-size:740%;
	margin-bottom:-20px;
}
#top25b header .topTwentyFive .bottom,
#top10b header .topTen .bottom{
	font-size:370%;
}
#top25b header .shortlist{
	color:#3b7ec0;
	font-size:120%;
}
#top10b header .shortlist{
	color:#46ac51;
	font-size:190%;
	text-transform:uppercase;
}
#top25b .logo,
#top10b .logo{
	float:left;
	background:url('../img/top25/logo.png') left top no-repeat;
	width:104px;
	height:136px;
	margin:24px 0 0 31px;
}

#top10a .topTitle{
	margin-top:10px;
}
#top10a .topTitle .top{
	font-size:800%;
}
#top10a .panel .left p .col1{
	color:#45ab53;
}
#top10a .panel .left p .col2{
	color:#3fa396;
}
#top10a .panel .left p.intro2{
	color:#3b6bb0;
}
#top10a .panel .left p.intro2 a:link,
#top10a .panel .left p.intro2 a:visited{
	color:#45ab53;
	text-decoration:underline;
}
#top10a a.viewTopTen{
	position:absolute;
	left:450px;
	top:280px;
	display:block;
	background:url('../img/top10/viewtopten2.png') left top no-repeat;
	width:229px;
	height:173px;
}
#top10a a.viewTopTen span{
	display:none;
}
#top10a img.pin66{
	position:absolute;
	left:130px;
	top:500px;
	z-index:10;
}


.shroud{
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-323px;
	z-index:1000;
	/*
	position:fixed;
	top:0px;
	left:50%;
	height:100%;
	width:100%;
	background-color:#000;
	opacity:0.3;
	*/
}
.likegateShroud{
	margin-left:-394px;
	width:787px;
	height:742px;
	background:url('../img/bg/shroud742.png') left top no-repeat;
}
.topTwentyFiveBShroud{
	margin-left:-394px;
	width:787px;
	height:802px;
	background:url('../img/top25/shroud.png') left top no-repeat;
}
.overlay{
	width:646px;
	height:700px;
	position:absolute;
	top:20px;
	left:50%;
	margin-left:-323px;
	background-color:#fff;
	border-radius:14px;
	z-index:1100;
	-moz-box-shadow: 7px 7px 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 7px 7px 8px rgba(0,0,0,0.3);
	box-shadow: 7px 7px 8px rgba(0,0,0,0.3);
	background-color:#f5fafe;
	background-image: linear-gradient(bottom, rgb(255,255,255) 40%, rgb(245,250,254) 90%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 40%, rgb(245,250,254) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 40%, rgb(245,250,254) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 40%, rgb(245,250,254) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 40%, rgb(245,250,254) 90%);
}
.blueOverlay{
	text-align:left;
	width:572px;
	height:396px;
	position:absolute;
	top:245px;
	left:50%;
	margin-left:-286px;
	border-radius:5px;
	background-color:#215298;
	background-image: linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -o-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	z-index:1100;
}
.topTenOverlay{
	width:642px;
	height:700px;
	position:absolute;
	top:20px;
	left:50%;
	margin-left:-321px;
	background-color:#fff;
	border-radius:5px;
	z-index:1100;
	-moz-box-shadow: 7px 7px 8px rgba(0,0,0,0.3);
	-webkit-box-shadow: 7px 7px 8px rgba(0,0,0,0.3);
	box-shadow: 7px 7px 8px rgba(0,0,0,0.3);
}
.shroud,
.overlay,
.blueOverlay,
.topTenOverlay{
	display:none;
	opacity:0;
}
.overlay header.banner{
	width:100%;
	height:37px;
	background-color:#fff;
	border-top-left-radius:14px;
	border-top-right-radius:14px;
	position:relative;
}
.topTenOverlay header.banner{
	height:64px;
}
a.close{
	background:url('../img/prizes/close.png') right top no-repeat;
	padding-right:34px;
	height:28px;
	float:right;
	line-height:28px;
	font-family:CronosProBold;
	font-weight:bold;
	font-style:italic;
	font-size:120%;
	text-transform:uppercase;
	position:relative;
	top:-1px;
	right:-1px;
}
a.close:link,
a.close:visited,
a.close:hover{
	text-decoration:none;
	color:#2f5c97;
}
.overlay header.banner h1,
.topTenOverlay header.banner h1{
	font-family:cancan_debois;
	font-size:1.5em;
	line-height:1em;
	font-weight:normal;
	text-transform:uppercase;
	margin:0;
	color:#3c9abd;
	background: -webkit-linear-gradient(#3b68af, #46ac50);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	float:left;
	margin:9px 0 0 22px;
}
.topTenOverlay header.banner h1{
	margin:24px 0 0 56px;
	font-size:200%;
	line-height:1.2em;
}
.topTenOverlay header.banner a.close{
	top:-3px;
	right:-3px;
}
.lunchPrizes{
	font-family:cancan_debois;
	font-size:4.5em;
	line-height:1em;
	font-weight:normal;
	text-transform:uppercase;
	margin:0;
	color:#3c9abd;
	background: -webkit-linear-gradient(#3b68af, #46ac50);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin:20px 0 0px 0;
	clear:both;
}
.prizesBanner span,
.lunchSpotsBanner span,
.lunchPrizes span{
	display:inline;
}
#prizeOverlay .prizesBanner{
	display:none;
}
.prizesIntro{
	margin:0 auto 24px auto;
	width:70%;
	font-size:120%;
}
.prizesIntro .col1{
	color:#45ab57;
}
.prizesIntro .col2{
	color:#3fa396;
}
.triad{
	margin:0 48px;
	width:550px;
	float:left;
}
.triad img{
	float:left;
	display:block;
}
.triad h3,
.triad p{
	margin-left:280px;
	text-align:left;
	width:45%;
	color:#3b69af;
}
.triad h3{
	margin-top:40px;
	margin-bottom:0;
	font-family: CronosProBold;
}
.triad p{
	font-family: CronosProSemiboldDisplay;
}
.triad p a:link,
.triad p a:visited{
	text-decoration:underline;
	color:#45ab57;
}
.voucherTriad{
	position:relative;
	padding-bottom:20px;
}
.partyTriad h3{
	margin-top:10px;
}
.centerParcs{
	position:absolute;
	right:20px;
	bottom:-20px;
}
.mapLogo{
	position:absolute;
	left:505px;
	bottom:-106px;
	z-index:1000;
}
#googlePopupMap{
	width:642px;
	height:650px;
	margin-left:2px;
	background-color:#999999;
	display:block;
}

#termsOverlay .window{
	width:606px;
	height:630px;
	overflow:auto;
	padding-right:10px;
	margin-top:10px;
	margin-left:22px;
	text-align:left;
}

#lunchSpotsInfoOverlay{
	height:auto;
	padding-bottom:14px;
}
#lunchSpotsInfoOverlay .close{
	top:-4px;
	right:-4px;
}
#lunchSpotsInfoOverlay .close:link,
#lunchSpotsInfoOverlay .close:visited{
	color:#fff;
}
#lunchSpotsInfoOverlay header h1{
	font-size:140%;
	font-weight:normal;
	text-transform:uppercase;
	float:left;
	margin:16px 0 10px 0;
	width:270px;
	clear:none;
}
#lunchSpotsInfoOverlay .copyBlock{
	position:relative;
	float:left;
	width:270px;
	margin:0 16px;
	color:#fff;
}
#lunchSpotsInfoOverlay .imagery{
	float:left;
	width:270px;
}
#lunchSpotsInfoOverlay .upload,
#lunchSpotsInfoOverlay .upload img{
	width:255px;
	height:192px;
}
#lunchSpotsInfoOverlay .upload{
	border:1px solid #fff;
}
#lunchSpotsInfoOverlay .tailBlock{
	float:left;
	width:100%;
	margin-top:10px;
}
#lunchSpotsInfoOverlay .tailBlock .copyBlock{
	position:relative;
	height:142px;
}
.voteBlock{
	float:left;
	width:270px;
}
.voteBlock h2{
	font-style:italic;
	float:left;
	width:150px;
	font-size:100%;
}
.voteBlock p{
	font-style:italic;
	float:left;
	width:150px;
	font-size:90%;
}
.voteBlock a.voteLink{
	display:block;
	background:url('../img/top25/votehere.png') left top no-repeat;
	width:99px;
	height:99px;
	margin-left:170px;
}
.voteBlock a.voteLink span{
	display:none;
}
.currentVotes{
	position:absolute;
	left:0;
	bottom:0;
	border-radius:5px;
	padding:8px 5px 5px 5px;
	background-color:#268ac3;
	font-size:80%;
	font-style:italic;
	margin:0;
	text-transform:uppercase;
	line-height:1em;
}
.currentVotes span{
	font-size:180%;
}
#lunchSpotsInfoOverlay #googleInsetMap{
	width:255px;
	height:140px;
	border:1px solid #fff;
}

.topTenOverlay article{
	padding:0 65px 0 56px;
	text-align:left;
}
.topTenOverlay .upload{
	width:100%;
	height:250px;
	overflow:hidden;
	position:relative;
	display:none;
}
.topTenOverlay .upload img{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:auto;
}
.lunchSpotGallery{
	list-style-type:none;
	padding:0;
	margin:0;
	width:521px;
	height:253px;
	position:relative;
}
.lunchSpotGallery li{
	position:absolute;
}
.lunchSpotGallery li img{
	width:100%;
	height:auto;
}
.img1 #img1{
	width:376px;
	height:253px;
	left:0px;
	top:0px;
}				
.img1 #img2,
.img1 #img3,
.img1 #img4{
	width:141px;
	height:83px;
	right:0px;
	top:0px;
}
.img1 #img3{
	top:85px;
}				
.img1 #img4{
	top:170px;
}

.topTenOverlay .left{
	float:left;
	width:273px;
	padding-right:24px
}
.topTenOverlay .right{
	float:left;
	width:222px;
}
.topTenOverlay .dynamicPinTitle{
	font-family:dirty_headline;
	color:#2f5c97;
	font-weight:normal;
	font-size:200%;
	text-transform:uppercase;
	margin:16px 0 0 0;
}
.topTenOverlay .dynamicPinSubTitle{
	color:#51b163;
	margin:0 0 10px 0;
	font-weight:normal;
	font-style:italic;
	font-size:100%;
}
.topTenOverlay .description{
	margin:0;
	color:#2f5c97;
	font-family:CronosProSemiboldDisplay;
	line-height:120%;
	font-size:120%;
}
.topTenOverlay .directions{
	margin-top:27px;
	font-family:dirty_headline;
	font-weight:normal;
	color:#51b163;
	text-transform:uppercase;
}
.topTenOverlay .share{
	float:left;
	margin-top:42px;
	text-align:center;
	text-transform:uppercase;
	font-family:CronosProSemiboldItalic;
	font-size:150%;
	color:#fff;
	background:url('../img/top10/sharebutton.png') left top no-repeat;
	width:114px;
	height:31px;
	padding-top:12px;
	/*
	padding-top:4px;
	width:100px;
	height:26px;
	background-color:#00f;
	border-radius:7px;
	border:2px solid #fff;
	-moz-box-shadow: -3px -3px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: -3px -3px 6px rgba(0,0,0,0.3);
	box-shadow: -3px -3px 6px rgba(0,0,0,0.3);
	background-image: linear-gradient(bottom, rgb(60,166,124) 40%, rgb(49,151,197) 90%);
	background-image: -o-linear-gradient(bottom, rgb(60,166,124) 40%, rgb(49,151,197) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(60,166,124) 40%, rgb(49,151,197) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(60,166,124) 40%, rgb(49,151,197) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(60,166,124) 40%, rgb(49,151,197) 90%);
	*/
}
.topTenOverlay .share:link,
.topTenOverlay .share:visited{
	text-decoration:none;
}
.topTenOverlay .share span{
}
.topTenOverlay .logo{
	float:right;
	margin-top:25px;
}
.topTenOverlay .mapPanel{
	position:relative;
}
.topTenOverlay .mapPanel#googleInsetMap,
.topTenOverlay .mapPanel img.corners{
	position:absolute;
	z-index:1;
}
.topTenOverlay .mapPanel img.corners{
	z-index:10;
	width:5px;
	height:5px;
}
.topTenOverlay .mapPanel img.tl{
	left:0px;
	top:0px;
}
.topTenOverlay .mapPanel img.tr{
	right:0px;
	top:0px;
}
.topTenOverlay .mapPanel img.bl{
	left:0px;
	bottom:0px;
}
.topTenOverlay .mapPanel img.br{
	right:0px;
	bottom:0px;
}
.topTenOverlay #googleInsetMap{
	background-color:#f00;
	width:222px;
	height:195px;
	background-color:#999;
	border-radius:5px;
}

/* map infoBox */
.infoBox{
	border-radius:5px;
	background-color:#215298;
	background-image: linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -o-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(52,119,191) 40%, rgb(37,76,135) 90%);
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	position:absolute;
	z-index:50;
	padding:0px;
	width:355px;
	height:112px;
	height:auto;
	min-height:112px;
	position:relative;
	float:left;
	text-align:left;
}
.infoBox .body{
	padding:12px 9px;
	float:left;
	color:#fff;
	width:337px;
}
.infoBox .body img{
	float:left;
}
.infoBox .body header{
	margin-left:95px;
}
.infoBox .body header h1{
	font-family:dirty_headline;
	text-transform:uppercase;
	font-weight:normal;
	font-size:120%;
	margin:0;
}
.infoBox .body header h2{
	font-weight:normal;
	font-size:90%;
	margin:0;
	line-height:1.3em;
}
.infoBox .body .scrollFrame{
	margin-left:95px;
	height:100px;
	width:242px;
}
.infoBox .body .scrollFrame p{
	font-size:90%;
	line-height:1.3em;
}
.infoBox .body .scrollFrame .infoBoxMore{
	float:right;
	margin-top:-12px;
}
.infoBox .body .scrollFrame .infoBoxMore:link,
.infoBox .body .scrollFrame .infoBoxMore:visited{
	color:#fff;
	text-decoration:none;
}

.infoBox .body .scrollFrame.short{
	height:auto;
}
.infoBox .body .scrollFrame.short .summary,
.infoBox .body .scrollFrame.short .infoBoxMore{
	display:block;
}
.infoBox .body .scrollFrame.long .summary,
.infoBox .body .scrollFrame.long .infoBoxMore{
	display:none;
}
.infoBox .body .scrollFrame.short .longText{
	display:none;
}
.infoBox .body .scrollFrame.long .longText{
	display:block;
}

/* rollover transforms for buttons */
#likegate .dailyprizes,
#likegate .likeus,
#home ul.controls li.viewPrizes a,
#home ul.controls li.enter a,
#home ul.controls li.viewLunchSpots a,
#enterLunchSpot .step3 .viewPrizes,
#top25a a.votenow,
#top25b a.viewLunchSpots,
#top10b a.viewLunchSpots,
#top10a a.viewTopTen,
a.voteLink{
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	transition: transform 0.5s ease;
}
#likegate .likeus:hover,
#home ul.controls li.viewPrizes a:hover,
#home ul.controls li.enter a:hover,
#home ul.controls li.viewLunchSpots a:hover,
#enterLunchSpot .step3 .viewPrizes:hover,
#top25a a.votenow:hover,
#top25b a.viewLunchSpots:hover,
#top10b a.viewLunchSpots:hover,
#top10a a.viewTopTen:hover,
a.voteLink:hover{
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}
#likegate .dailyprizes:hover{
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
/*
.stepOverlay .button{
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	transition: transform 0.5s ease;
}
.stepOverlay .button:hover{
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
*/
.ie7 #likegate .dailyprizes:focus,
.ie8 #likegate .dailyprizes:focus,
.ie9 #likegate .dailyprizes:focus{
	outline:none;
}


.step1,
.step2,
.step3,
.step4{
	display:none;
}
.rectangle{
	text-align:left;
}
#googleRectangle,
#googleTest1{
	width:800px;
	height:600px;
	margin:10px auto;
}
.required{
	font-weight:bold;
}

/* directions widget */
.mapSwitch{
	list-style-type:none;
	padding-left:0;
	margin-top:10px;
}
.mapSwitch li{
	display:inline;
	padding:0 10px;
}
.mapSwitch li:first-child{
	border-right:1px solid #51b163;;
}
.mapSwitch li a{
	font-family:dirty_headline;
	font-weight:normal;
	color:#51b163;
	text-transform:uppercase;
	font-size:120%;
}
.mapState .map a,
.directionsState .directions a{
	color:#3d679e;
}
.mapWidget{
	width:222px;
	height:195px;
	display:block;
	background-color:#CCCCCC;
	position:relative;
}
.mapWidget #googleInsetMap,
.mapWidget img.corners{
	position:absolute;
	z-index:1;
}
.mapWidget #googleInsetMap{
	width:222px;
	height:195px;
}
.mapWidget img.corners{
	z-index:10;
	width:5px;
	height:5px;
}
.mapWidget img.tl{
	left:0px;
	top:0px;
}
.mapWidget img.tr{
	right:0px;
	top:0px;
}
.mapWidget img.bl{
	left:0px;
	bottom:0px;
}
.mapWidget img.br{
	right:0px;
	bottom:0px;
}
.directionsWidget{
	width:204px;
	height:183px;
	border:1px solid #3c99bc;
	border-radius:5px;
	padding:5px 8px;
	display:none;
}
.directionsWidget h3{
	padding:0 0 5px 0;
	margin:0 0 5px 0;
	border-width:0 0 1px 0;
	border-style:solid;
	border-color:#f1f1f1;
}
#directionsForm{
	display:block;
	opacity:1;
}
#directionsListWrapper{
	width:208px;
	height:185px;
	display:none;
	opacity:0;
}
.travelMode{
	list-style-type:none;
	padding:0;
	width:205px;
	height:29px;
	float:left;
	clear:both;
	margin-top:5px;
}
.travelMode li{
	width:51px;
	height:29px;
	float:left;
	background-image:url('../img/top10/google-travel-mode.gif');
	background-position:0px 0px;
	background-repeat:no-repeat;
	cursor:pointer;
}
.travelMode li.TMcycling{
	width:52px;
}
.driving li.TMdriving{
	background-position:0px 0px;
}
.driving li.TMtransit{
	background-position:-51px 0px ;
}
.driving li.TMwalking{
	background-position:-102px 0px ;
}
.driving li.TMcycling{
	background-position:-153px 0px ;
}
.transit li.TMdriving{
	background-position:0px -29px;
}
.transit li.TMtransit{
	background-position:-51px -29px;
}
.transit li.TMwalking{
	background-position:-102px -29px;
}
.transit li.TMcycling{
	background-position:-153px -29px;
}
.walking li.TMdriving{
	background-position:0px -58px;
}
.walking li.TMtransit{
	background-position:-51px -58px;
}
.walking li.TMwalking{
	background-position:-102px -58px;
}
.walking li.TMcycling{
	background-position:-153px -58px;
}
.cycling li.TMdriving{
	background-position:0px -87px;
}
.cycling li.TMtransit{
	background-position:-51px -87px;
}
.cycling li.TMwalking{
	background-position:-102px -87px;
}
.cycling li.TMcycling{
	background-position:-153px -87px;
}
ul.travelMode li span{
	height:0px;
	width:0px;
	overflow:hidden;
	display:block;
}

.gdStart,
.gdEnd{
	width:178px;
	height:30px;
	padding:2px 0 0 35px;
	margin-left:-8px;
	background-image:url('../img/top10/directions-labels.gif');
	background-position:left top;
	background-repeat:no-repeat;
	display:block;
}
.gdStart{
	background-position:0px 0px;
}
.gdEnd{
	background-position:0px -30px;
}
.gdStart .caption,
.gdEnd .caption{
	display:none;
}
.gdStart #start{
	background-image:url('../img/top10/directions-field.gif');
	background-position:left top;
	background-repeat:no-repeat;
	border:0;
	padding:0 4px;
	margin:0;
	width:172px;
	height:22px;
}
.gdStart #start:focus{
	background-position:0px -22px;
}
.gdEnd .endPlace{
	background-position:left top;
	background-repeat:no-repeat;
	padding:4px 0 0 0;
	margin:0;
	width:180px;
	height:22px;
	line-height:1.2em;
}
.gdEnd select{
	border:0;
	padding:0 4px;
	margin:0;
	width:180px;
	height:22px;
	border-width:1px;
	border-style:solid;
	border-color:#f1f1f1;
}
.getDirections{
	background-image:url('../img/top10/directions-button.gif');
	background-position:left top;
	background-repeat:no-repeat;
	width:101px;
	height:26px;
	float:right;
}
.getDirections span{
	display:none;
}
ol#steps{
	list-style-type:none;
	float:left;
	width:206px;
}
ol#steps li{
	float:left;
	width:199px;
	border-width:0 0 1px 0;
	border-style:solid;
	border-color:#f1f1f1;
	margin:0 0 2px 0;
	padding:5px 0;
}
ol#steps li p.instruction{
	font-size:0.9em;
	margin-bottom:0;
}
ol#steps li p.distance{
	float:right;
	width:auto;
	margin-bottom:-0.4em;
	font-size:0.9em;
	color:#666666;
}
ol#steps li p.duration{
	float:left;
	width:45%;
	margin-bottom:0;
}
.totalDistance{
	margin:0;
	padding:0 0 5px 0;
}
.totalDuration{
	margin:0;
	padding:0 0 5px 0;
	border-width:0 0 1px 0;
	border-style:solid;
	border-color:#f1f1f1;
}
.copyright{
	font-size:90%;
	margin:5px 0;
	text-align:right;
	width:100%;
	float:left;
}
