.lunchSpotGallery{
	list-style-type:none;
	padding:0;
	margin:0;
	width:521px;
	height:253px;
	position:relative;
}
.lunchSpotGallery li{
	position:absolute;
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	transition: transform 0.5s ease;
}
.img1 #img1{
	width:376px;
	height:253px;
	left:0px;
	top:0px;
}				
.img1 #img2,
.img1 #img3,
.img1 #img4{
	width:141px;
	height:83px;
	right:0px;
	top:0px;
}
.img1 #img3{
	top:85px;
}				
.img1 #img4{
	top:170px;
}
.img1 #img1 img{
	width:376px;
	height:253px;
}				
.img1 #img2 img,
.img1 #img3 img,
.img1 #img4 img{
	width:141px;
	height:83px;
}
.img2 #img2{
	width:376px;
	height:253px;
	left:0px;
	top:0px;
}				
.img2 #img2 img{
	width:376px;
	height:253px;
}				

.img2 #img3,
.img2 #img4,
.img2 #img1{
	width:141px;
	height:83px;
	right:0px;
	top:0px;
}
.img2 #img4{
	top:85px;
}				
.img2 #img1{
	top:170px;
}
.img2 #img3 img,
.img2 #img4 img,
.img2 #img1 img{
	width:141px;
	height:83px;
}

