                        	<ul class="shortList">
                            	<li id="place0001">
                                	<div class="pictureFrameWrapper">
                                    	<img class="upload" alt="uploaded Image" src="">
                                    	<img class="frame" alt="" src="assets/img/top25/frame_placeholder.gif">
                                    </div>
                                    <div class="captionBlock">
                                    	<p class="caption">Hampton Court Grounds - Near the Oak Tree</p>
                                        <p class="votes"><span>1200</span> votes</p>
                                        <a href="#" class="viewPlace"><span>View</span></a>
                                    </div>
                                </li>
                            	<li id="place0002">
                                	<div class="pictureFrameWrapper">
                                    	<img class="upload" alt="uploaded Image" src="">
                                    	<img class="frame" alt="" src="assets/img/top25/frame_placeholder.gif">
                                    </div>
                                    <div class="captionBlock">
                                    	<p class="caption">Hampton Court Grounds - Near the Oak Tree</p>
                                        <p class="votes"><span>1200</span> votes</p>
                                        <a href="#" class="viewPlace"><span>View</span></a>
                                    </div>
                                </li>
                            	<li id="place0003">
                                	<div class="pictureFrameWrapper">
                                    	<img class="upload" alt="uploaded Image" src="">
                                    	<img class="frame" alt="" src="assets/img/top25/frame_placeholder.gif">
                                    </div>
                                    <div class="captionBlock">
                                    	<p class="caption">Hampton Court Grounds - Near the Oak Tree</p>
                                        <p class="votes"><span>1200</span> votes</p>
                                        <a href="#" class="viewPlace"><span>View</span></a>
                                    </div>
                                </li>
                            	<li id="place0004">
                                	<div class="pictureFrameWrapper">
                                    	<img class="upload" alt="uploaded Image" src="">
                                    	<img class="frame" alt="" src="assets/img/top25/frame_placeholder.gif">
                                    </div>
                                    <div class="captionBlock">
                                    	<p class="caption">Hampton Court Grounds - Near the Oak Tree</p>
                                        <p class="votes"><span>1200</span> votes</p>
                                        <a href="#" class="viewPlace"><span>View</span></a>
                                    </div>
                                </li>
                            	<li id="place0005">
                                	<div class="pictureFrameWrapper">
                                    	<img class="upload" alt="uploaded Image" src="">
                                    	<img class="frame" alt="" src="assets/img/top25/frame_placeholder.gif">
                                    </div>
                                    <div class="captionBlock">
                                    	<p class="caption">Hampton Court Grounds - Near the Oak Tree</p>
                                        <p class="votes"><span>1200</span> votes</p>
                                        <a href="#" class="viewPlace"><span>View</span></a>
                                    </div>
                                </li>
                            	<li id="place0006">
                                	<div class="pictureFrameWrapper">
                                    	<img class="upload" alt="uploaded Image" src="">
                                    	<img class="frame" alt="" src="assets/img/top25/frame_placeholder.gif">
                                    </div>
                                    <div class="captionBlock">
                                    	<p class="caption">Hampton Court Grounds - Near the Oak Tree</p>
                                        <p class="votes"><span>1200</span> votes</p>
                                        <a href="#" class="viewPlace"><span>View</span></a>
                                    </div>
                                </li>
                            	<li id="place0007">
                                	<div class="pictureFrameWrapper">
                                    	<img class="upload" alt="uploaded Image" src="">
                                    	<img class="frame" alt="" src="assets/img/top25/frame_placeholder.gif">
                                    </div>
                                    <div class="captionBlock">
                                    	<p class="caption">Hampton Court Grounds - Near the Oak Tree</p>
                                        <p class="votes"><span>1200</span> votes</p>
                                        <a href="#" class="viewPlace"><span>View</span></a>
                                    </div>
                                </li>
                            	<li id="place0008">
                                	<div class="pictureFrameWrapper">
                                    	<img class="upload" alt="uploaded Image" src="">
                                    	<img class="frame" alt="" src="assets/img/top25/frame_placeholder.gif">
                                    </div>
                                    <div class="captionBlock">
                                    	<p class="caption">Hampton Court Grounds - Near the Oak Tree</p>
                                        <p class="votes"><span>1200</span> votes</p>
                                        <a href="#" class="viewPlace"><span>View</span></a>
                                    </div>
                                </li>
                            	<li id="place0009">
                                	<div class="pictureFrameWrapper">
                                    	<img class="upload" alt="uploaded Image" src="">
                                    	<img class="frame" alt="" src="assets/img/top25/frame_placeholder.gif">
                                    </div>
                                    <div class="captionBlock">
                                    	<p class="caption">Hampton Court Grounds - Near the Oak Tree</p>
                                        <p class="votes"><span>1200</span> votes</p>
                                        <a href="#" class="viewPlace"><span>View</span></a>
                                    </div>
                                </li>
                            	<li id="place0010">
                                	<div class="pictureFrameWrapper">
                                    	<img class="upload" alt="uploaded Image" src="">
                                    	<img class="frame" alt="" src="assets/img/top25/frame_placeholder.gif">
                                    </div>
                                    <div class="captionBlock">
                                    	<p class="caption">Hampton Court Grounds - Near the Oak Tree</p>
                                        <p class="votes"><span>1200</span> votes</p>
                                        <a href="#" class="viewPlace"><span>View</span></a>
                                    </div>
                                </li>
                            	<li id="place0011">
                                	<div class="pictureFrameWrapper">
                                    	<img class="upload" alt="uploaded Image" src="">
                                    	<img class="frame" alt="" src="assets/img/top25/frame_placeholder.gif">
                                    </div>
                                    <div class="captionBlock">
                                    	<p class="caption">Hampton Court Grounds - Near the Oak Tree</p>
                                        <p class="votes"><span>1200</span> votes</p>
                                        <a href="#" class="viewPlace"><span>View</span></a>
                                    </div>
                                </li>
                            </ul>
