
#top25b .panel{
	background:url('../img/bg/top25_list.png') left bottom no-repeat;
	position:relative;
	height:783px;
	width:762px;
	margin-left:15px;
}
#top25b .tableclothFold{
	position:absolute;
	right:0px;
	bottom:7px;
	z-index:100;
}
#top25b header{
	width:739px;
	height:201px;
	float:left;
	margin-left:9px;
}
#top25b .viewLunchSpots{
	float:right;
	background:url('../img/top25/viewmap.png') left top no-repeat;
	width:138px;
	height:135px;
	margin:15px 26px 0 0;
}
#top25b .viewLunchSpots span{
	display:none;
}
#top25b header .mid{
	margin:10px auto 0 auto;
	width:50%;
	text-align:center;
}
#top25b header .topTwentyFive{
	text-align:center;
}
#top25b header .topTwentyFive .top{
	font-size:740%;
	margin-bottom:-20px;
}
#top25b header .topTwentyFive .bottom{
	font-size:370%;
}
#top25b header .shortlist{
	color:#3b7ec0;
	font-size:120%;
}
#top25b .shortlistWrapper{
	margin:5px 0 0 49px;
	width:654px;
	width:690px;
	height:547px;
	float:left;
}
#top25b .shortList{
	list-style-type:none;
	padding-left:0px;
	width:654px;
	margin:0px;
}
#top25b .shortList li{
	width:218px;
	height:226px;
	float:left;
}
#top25b .pictureFrameWrapper{
	position:relative;
	width:192px;
	height:162px;
	display:block;
}
#top25b .pictureFrameWrapper .upload,
#top25b .pictureFrameWrapper .frame{
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
}
#top25b .pictureFrameWrapper .upload{
	left:5px;
	top:15px;
	width:187px;
	height:146px;
}
#top25b .pictureFrameWrapper .frame{
	width:192px;
	height:162px;
	z-index:2;
}
#top25b .captionBlock{
	background:url('../img/top25/item_tail.gif') left bottom no-repeat #fff;
	width:187px;
	margin:0 0 0 5px;
	float:left;
}
#top25b .caption{
	height:35px;
	padding:0 5px;
	text-align:left;
	margin:0;
	font-size:90%;
	color:#2a5188;
}
#top25b .votes{
	padding:6px 5px 0 0;
	float:left;
	width:133px;
	height:17px;
	text-align:right;
	color:#2a5188;
	font-size:80%;
	font-style:italic;
	margin:0;
	text-transform:uppercase;
}
#top25b .votes span{
	color:#46ac4f;
	font-size:180%;
}
#top25b a.viewPlace{
	float:left;
	background:url('../img/top25/viewbutton.png') left top no-repeat;
	width:49px;
	height:23px;
	display:block;
}
#top25b .viewPlace span{
	display:none;
}
#top25b .logo{
	float:left;
	background:url('../img/top25/logo.png') left top no-repeat;
	width:104px;
	height:136px;
	margin:24px 0 0 31px;
}

#top10a{
}
.top .panel .logo{
	float:left;
	background:url('../img/home/logo.png') left top no-repeat;
	width:147px;
	height:188px;
}
.top .panel .logo *{
	display:none;
}

#top10a .panel .left{
	float:left;
	width:506px;
	padding-left:44px;
}
#top10a .top10{
	margin-top:25px;
}
#top10a .top10 .top{
	font-size:650%;
	letter-spacing:0px;
}
#top10a .top10 .bottom{
	font-size:560%;
	line-height:100%;
	display:block;
	margin-top:-12px;
}

#top10a .panel .left p.intro{
	text-align:left;
	font-size:120%;
	padding-right:20px;
	font-family:CronosProBold;
}
#top10a .panel .left p .col1{
	color:#45ab58;
}
#top10a .panel .left p .col2{
	color:#3fa396;
}
#top10a .panel .left p .col3{
	color:#2776b8;
}

#top10b{
}
