	<!-- lunch spots overlay START -->
    <div class="overlay" id="viewLunchSpotsOverlay">
    	<header>
        	<img alt="" src="assets/img/prizes/map_logo.png" class="mapLogo">
            <a href="#" class="close">close</a>
        </header>
        <article>
        	<div id="googlePopupMap"></div>
        </article>
    </div>
	<!-- lunch spots overlay START -->
