	<!-- prizes overlay START -->
    <div class="overlay" id="prizeOverlay">
    	<header>
        	<h1 class="textrep prizesBanner"><span>Prizes</span></h1>
            <a href="#" class="close">close</a>
        </header>
        <article>
        	<h2 class="textrep lunchPrizes"><span>lunch spot prizes</span></h2>
            <p class="cronosProBold prizesIntro"><span class="col1">Check out the fab Kingsmill picnic prizes you could win by simply <br>entering our &lsquo;Lunch Spots&rsquo; competition.</span> <span class="col2">Plus, find out more about <br>our star prize, a &pound;1500 UK holiday voucher.</span></p>
            <div class="triad dailyTriad">
            	<a href="#"><img alt="Daily kingsmill prizes" src="assets/img/prizes/daily.png" /></a>
                <h3>Daily kingsmill prizes</h3>
                <p>Lorem ipsum dolor sit amet
Adipiscing elit. Proin facilisis mi sed sem convallis sed imperdiet lacus dapibus. Nam non tellus in metus aliquet vulputate. Donec vel lorem metus.</p>
            </div>
            <div class="triad voucherTriad">
            	<a href="#"><img alt="A UK holiday voucher worth &pound;1500" src="assets/img/prizes/vouchers.png" /></a>
                <h3>A UK holiday voucher worth &pound;1500</h3>
                <p>Lorem ipsum dolor sit amet Adipiscing elit. Proin facilisis mi sed sem convallis sed imperdiet lacus dapibus. Nam non tellus in metus aliquet vulputate. Donec vel lorem metus.</p>
				<a href="#" class="centerParcs"><img alt="Center Parcs" src="assets/img/prizes/centerparcs.gif" ></a>
            </div>
            <div class="triad partyTriad">
            	<a href="#"><img alt="A Big Lunch street party" src="assets/img/prizes/party.png" /></a>
                <h3>A Big Lunch street party</h3>
                <p>Lorem ipsum dolor sit amet
Adipiscing elit. Proin facilisis mi sed sem convallis sed imperdiet lacus dapibus. Nam non tellus in metus aliquet vulputate. Donec vel lorem metus.<br> <a href="#">Find out more</a></p>
            </div>
        </article>
    </div>
	<!-- prizes overlay END -->
